<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <header>
        <a id="home_link" href="./">
            <svg id="header_logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3060.97 244.43">
                <g id="lab">
                    <path id="B" class="cls-1" d="M3449.78,1088.43q9.55,13.13,9.56,39.06,0,33.72-19.12,50.08t-60.3,16.37h-177V962.48h173.44q74.88,0,74.88,59.65,0,18.48-7.13,30.15a37.35,37.35,0,0,1-20.42,16.21v1.62Q3440.22,1075.3,3449.78,1088.43Zm-61.92-38.91q7.62-6.63,7.62-20.58,0-14.27-7.62-20.75t-23.82-6.48h-109.9v54.46H3364Q3380.24,1056.17,3387.86,1049.52Zm6.81,97.74q8.6-7.46,8.59-23.66t-8.59-23.83q-8.6-7.61-27.39-7.62H3254.14v62.57h113.14Q3386.08,1154.72,3394.67,1147.26Z" transform="translate(-398.38 -956)"/>
                    <path id="A" class="cls-1" d="M3052.83,1146.94H2914.09l-23.34,47h-56.09l118-231.46h63.22l117.35,231.46h-57.06Zm-20.1-40.52-48.62-97.9h-1.3l-48.62,97.9Z" transform="translate(-398.38 -956)"/>
                    <path id="L" class="cls-1" d="M2543.88,1193.94V962.48h51.22v188.67H2774v42.79Z" transform="translate(-398.38 -956)"/>
                </g>
                <g id="shader">
                    <path id="E" class="cls-1" d="M1834.14,1054.55h169.54v38.9H1834.14v59.65h179.59v40.84H1782.92V962.48h226.6v40.85H1834.14Z" transform="translate(-398.38 -956)"/>
                    <path id="R" class="cls-1" d="M2363.18,1193.94h-59.64l-53.17-88.17H2149.23v88.17H2098V962.48h176.67q43.77,0,63.7,17t19.94,54q0,29.82-14.59,44.9t-38.9,19.61v1.94Zm-69.86-136.31q8.26-7.29,8.27-22.53t-8.27-22.53q-8.27-7.3-26.09-7.3h-118v59.65h118Q2285.05,1064.92,2293.32,1057.63Z" transform="translate(-398.38 -956)"/>
                    <path id="D" class="cls-1" d="M1670.11,990.36q31.76,27.89,31.77,87.85t-31.77,87.85q-31.78,27.89-92.39,27.88H1438V962.48h139.72Q1638.34,962.48,1670.11,990.36ZM1489.22,1004v148.47h77.47q78.78,0,78.78-74.24T1566.69,1004Z" transform="translate(-398.38 -956)"/>
                    <path id="A-2" data-name="A" class="cls-1" d="M1287.91,1146.94H1149.16l-23.34,47h-56.08l118-231.46H1251l117.35,231.46h-57Zm-20.1-40.52-48.63-97.9h-1.29l-48.63,97.9Z" transform="translate(-398.38 -956)"/>
                    <path id="H" class="cls-1" d="M792.65,956.36V1099q0,24.62.19,45.11t.19,34.67v17.9H740.38V1027.57q0-14.17-.19-27.22T740,977.61q-.37-11.55-.38-21.25Zm46.9,110.14a31.65,31.65,0,0,1,9.56-23.23,31.2,31.2,0,0,1,22.84-9.56,32.66,32.66,0,0,1,32.8,32.79,31,31,0,0,1-9.57,23,32,32,0,0,1-23.23,9.37,31.49,31.49,0,0,1-22.84-9.37A31,31,0,0,1,839.55,1066.5ZM951.29,957.11c3.7-.25,7.16-.43,10.38-.56s10-.19,13.8-.19h28.84c-.25,48.47-.38,53.43-.38,92.7q0,25.35-.18,50t-.19,45.11v52.57h-51.9v-205c0-9.45-.06,20.32-.19,11.5s-.18-16.71-.18-23.67Z" transform="translate(-398.38 -956)"/>
                    <path id="S" class="cls-1" d="M576.84,1003q-18-8.43-51.06-8.43-61.92,0-61.92,29.82,0,12,8.43,17.18t27.23,7.13l87.53,7.78q36.3,3.26,55.43,19t19.13,49.11q0,41.51-33.39,58.68t-98.55,17.18q-63.21,0-96.6-18.64t-34.69-65.65h57.38q1.94,25.93,20.91,35.5t54.94,9.56q71,0,71-33.06,0-14.27-8.92-20.43t-26.09-7.78l-87.2-8.75q-36.64-3.56-55.6-18.15t-19-45.39q0-71.64,121.24-71.64,59,0,92.22,17.51t34.53,59H596.45Q594.83,1011.44,576.84,1003Z" transform="translate(-398.38 -956)"/>
                </g>
            </svg>
        </a>
    </header>
    <main>
        <section id="application">
            <div id="interactive_window">
                <div id="navigation_panel"></div>
                <div class="container">
                    <div class="input_container"></div>
                    <div id="editor_container">
                        <div class="editor_scroll_window">
                            <div id="code_editor"></div>
                        </div>
                        <div id="code_editor_panel">
                            <div id="console">Bonjour je suis la console de débug</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="visual_window">
                <div class="input_container light">
                    <button class="displayer light_list" title = "Preset light"></button>
                </div>
                <canvas id="webgl_canvas"></canvas>
                <div class="input_container scene">
                    <button class="displayer scene_list" title = "Preset scene"></abbr>
                </div>
            </div>
        </section>
        <section id="about">
            <div class="about_content">
            <h2>About Shader Lab</h2>
            <div class="about_text">
            <p>Shader Lab was created as part of a tutored project supervised by Venceslas Biri during our second year of engineering school IMAC (Image Multimedia Audiovisual Communication). 
                The website allows to experiment different illumination models through raymarching in an educational purpose. The goal of Shader Lab is give the user the opportunity to code its own shader.</p>
            <h3>Our team</h3>
            <p><a target="_blank" href="http://tanguylorent.com/">LORENT Tanguy</a>, <a target="_blank" href="https://www.linkedin.com/in/louise-delrieu-82b4aa226/?originalSubdomain=fr">DELRIEU Louise</a>, <a target="_blank" href="https://www.linkedin.com/in/jordan-roberty-2903a7157/">ROBERTY Jordan</a> & <a target="_blank" href="https://yaelleainhoa.github.io/PORTFOLIO/">SARALEGUI TRAN Yaëlle</a></p>
            <h3>References and Acknowledgments</h3>
            <ul>
                <li><a target="_blank" href="https://threejs-journey.com"> Bruno Simon</a> (and Mattéo Leclercq)</li>
                <li><a target="_blank" href="https://github.com/erichlof/THREE.js-PathTracing-Renderer">Erich Loftis</a></li>
                <li><a target="_blank" href="https://iquilezles.org">Inigo Quilez</a></li>
                <li><a target="_blank" href="https://julesfouchy.github.io/home">Jules Fouchy</a></li>
                <li><a target="_blank" href="https://shdr.bkcore.com/">Shdr Editor</a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/venceslasbiri/?originalSubdomain=fr">Venceslas Biri</a></li>
            </ul>
            </div>
            </div>
        </section>
        <section id="documentation">
            <div id="doc_window">
            <div class="doc_container">
                <div id="summary">
                </div>
                <div id="doc_text">
                    <div id="scenes" class = "page show_page">
                        <h2 class="doc_main_title">All you need to know to create your shader !</h2>
                        <hr>
                        <h3 class="doc_title">Scenes</h3>
                        <table>
                            <thead>
                                <tr>
                                    <th>SCENE 1</th>
                                    <th>SCENE 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>box1</td>
                                    <td>sphere1</td>
                                </tr>
                                <tr>
                                    <td>sphere1</td>
                                    <td>sphere2</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>sphere3</td>
                                </tr>
                            </tbody>
                        </table>
        
                        <hr class="little-transition">
                        <h4>OBJECTS</h4>
                        <p>Box</p>
                        <ul class="structure">
                            <li>
                                <span class="type">vec3</span>
                                <span class="name">origin</span>
                            </li>
                            <li>
                                <span class="type">vec3</span>
                                <span class="name">dimensions (depth, width, height)</span>
                            </li>
                            <li>
                                <span class="type">Material</span>
                                <span class="name">mat</span>
                            </li>
                        </ul>
        
                        <p>Sphere</p>
                        <ul class="structure">
                            <li>
                                <span class="type">vec3</span>
                                <span class="name">origin</span>
                            </li>
                            <li>
                                <span class="type">float</span>
                                <span class="name">radius</span>
                            </li>
                            <li>
                                <span class="type">Material</span>
                                <span class="name">mat</span>
                            </li>
                        </ul>
        
                        <hr class="little-transition">
                        <h4>ACCESS OBJECT ATTRIBUTES</h4>
                        <p>name_object.attribute = value;</p>
                        <pre><b>ex : </b>box1.origin = vec3(1.,1.,5.);</pre>
        
                        <h4 class="commentary">If you change an object position, be careful ! The camera points at the position (0,1,5).. Plus, be aware that the x axis is inverted...</h4>
        
                        <hr class="little-transition">
                        <h4>AND FOR MATERIALS ?</h4>
                        <p>Material</p>
                        <ul class="structure">
                            <li>
                                <span class="type">vec3</span>
                                <span class="name">base_color</span>
                            </li>
                            <li>
                                <span class="type">float</span>
                                <span class="name">kd</span>
                            </li>
                            <li>
                                <span class="type">float</span>
                                <span class="name">ks</span>
                            </li>
                            <li>
                                <span class="type">float</span>
                                <span class="name">shininess</span>
                            </li>
                            <li>
                                <span class="type">float</span>
                                <span class="name">subsurface</span>
                            </li>
                            <li>
                                <span class="type">float</span>
                                <span class="name">metallic</span>
                            </li>
                            <li>
                                <span class="type">float</span>
                                <span class="name">specularTint</span>
                            </li>
                            <li>
                                <span class="type">float</span>
                                <span class="name">roughness</span>
                            </li>
                            <li>
                                <span class="type">float</span>
                                <span class="name">anisotropic</span>
                            </li>
                            <li>
                                <span class="type">float</span>
                                <span class="name">sheen</span>
                            </li>
                            <li>
                                <span class="type">float</span>
                                <span class="name">sheenTint</span>
                            </li>
                            <li>
                                <span class="type">float</span>
                                <span class="name">clearcoat</span>
                            </li>
                            <li>
                                <span class="type">float</span>
                                <span class="name">clearcoatGloss</span>
                            </li>
                        </ul>
        
                        <pre><b>ex : </b>sphere1.mat.base_color = vec3(1.,0.,0.);</pre>
        
                    </div>
                    
                    <div id="lights" class="page">
                        <h3 class="doc_title">Lights</h3>

                    <table>
                        <thead>
                            <tr>
                                <th>LIGHT PRESET 1</th>
                                <th>LIGHT PRESET 2</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>light1 (white)</td>
                                <td>light1 (red)</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>light2 (green)</td>
                            </tr>
                        </tbody>
                    </table>

                    <p>Light</p>
                    <ul class="structure">
                        <li>
                            <span class="type">vec3</span>
                            <span class="name">pos (position)</span>
                        </li>
                        <li>
                            <span class="type">vec3</span>
                            <span class="name">col (color)</span>
                        </li>
                        <li>
                            <span class="type">vec3</span>
                            <span class="name">vector (direction)</span>
                        </li>
                    </ul>

                    <p>If you want to change light parameters, just use inputs ! To have acces to them :</p>
                    <pre><b>ex : </b> vec3 light_position = light1.pos;</pre>
                    </div>

                    <div id="inputs" class="page">
                        <h3 class="doc_title">How to create an input ?</h3>
                        <ul>
                            <li>
                                <p><b>color_picker</b></p>
                            </li>
        <pre>/// color_picker scene uName name min max step
        <b>ex : </b>///color_picker scene uColor color 
                            <div class="result">uniform float uColor[N_MATERIALS]</div></pre>
                            <li>
                                <p><b>slider</b></p>
                            </li>
                        </ul>
        <pre>/// slider scene uName name min max step
        <b>ex : </b>///slider scene uPosX posX 0 1 0.1
                        <div class="result">uniform float uPosX[N_MATERIALS]</div></pre>
        
                        <hr class="little-transition">
                        <h4>USE AN INPUT IN YOUR CODE</h4>
                        <pre>
<b>ex : </b> /// color_picker scene uColor color
result : uniform vec3 uColor[N_MATERIALS]
void set_objects() {  
    sphere1.mat.base_color = uColor[1];
}</pre>
        <p class="commentary">To change object attributes, you should use set_objects() !</p>
        
                        <hr class="little-transition">
                        <h4>N_MATERIALS EXPLANATION</h4>
                        <p>N_MATERIALS represents the total number of materials in the scene. In scene 1, you can access to 2 materials and in scene 2 you can access 3 materials.</p>
        
        <table>
                            <thead>
                                <tr>
                                    <th>N_MATERIALS</th>
                                    <th>SCENE 1</th>
                                    <th>SCENE 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>0</td>
                                    <td>box1</td>
                                    <td>sphere1</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>sphere1</td>
                                    <td>sphere2</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>x</td>
                                    <td>sphere3</td>
                                </tr>
                                <tr>
                            </tbody>
                        </table>
        
                        <p>The input created are linked to this indexes, for example if you want the box1 parameter in a uColor input you created, uColor[0] is what you are looking for!</p>
        
                    </div>

                    <div id="help" class="page">
                        <h3 class="doc_title">What is hit_object ?</h3>
                        <p>hit_object contains the material of the intersected object (ie : the material of the first object that the ray intersects)</p>
        
                        <hr>
                        <h3 class="doc_title">Functions that you can use</h3>
                        <p>We implanted various functions that you can use for your shader. </p>
                        <ul>
                            <li class="code-list"><span class="code">vec3 get_normal(vec3 intersection) : </span>returns the normal of a given intersection</li>
                            <li class="code-list"><span class="code">float rand(vec2 input) : </span>returns random value based on the input</li>
                            <li class="code-list"><span class="code">bool intersect( vec3 ray_origin, vec3 ray_intersect, vec3 ray_direction ) : </span>returns true if at least one object is intersected by the ray</li>
                        </ul>
                    </div>

                <div id="example" class="page">
                    <h3 class="doc_title">Example of a simple code</h3>
                    <p>If you want to use flat painting on the first scene preset and move the sphere on y axis, for example, you can try this :</p>
    <pre>
/// color_picker scene uColors colors
/// slider scene uPositionY position_y 0 1 0.1
void set_objects(){
    box1.mat.base_color = uColors[0]; 
    sphere1.mat.base_color = uColors[1]; 
    sphere1.origin = vec3(-1,uPositionY[1],5); 
    box1.origin = vec3(1,uPositionY[0],5);
}

vec3 Model_Illumination(in vec3 ray_position, 
    in vec3 ray_origin, in Material hit_object)
    { 
    return hit_object.base_color;
}
    </pre>
                </div>
            </div>
            </div>
        </div>
        </section>
    </main>
</body>
</html>