<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="https://rawgit.com/patriciogonzalezvivo/glslEditor/gh-pages/build/glslEditor.css">
    <title>SHADER LAB</title>
</head>
<body>
    <header>
        <h1>SHADER LAB</h1>
        <nav>
        </nav>
    </header>
    <main>
        <div id="interactive_window">
            <canvas class="webgl"></canvas>
            <div id="inputs"></div>
        </div>
        <div id="glsl-editor"></div>
    </main>
    <footer></footer>
    <script type="application/javascript" src="https://rawgit.com/patriciogonzalezvivo/glslEditor/gh-pages/build/glslEditor.js"></script>
</body>
</html>