<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="https://rawgit.com/patriciogonzalezvivo/glslEditor/gh-pages/build/glslEditor.css">
    <title>SHADER LAB</title>
</head>
<body>
    <header>
        <h1>SHADER LAB</h1>
    </header>
    <main>
        <div id="interactive_window">
            <div class="container">
                <div id="inputs"></div>
                <div id="editor_container">
                    <div id="glsl-editor"></div>
                </div>
            </div>
        </div>
        <canvas class="webgl"></canvas>
    </main>
    <footer>©Shader_Lab réalisé par Louise Delrieu, Tanguy Lorent, Jordan Roberty, Yaëlle Saralegui-Tran - 2022 - Tous droits réservés.</footer>
    <script type="application/javascript" src="https://rawgit.com/patriciogonzalezvivo/glslEditor/gh-pages/build/glslEditor.js"></script>
</body>
</html>