<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>SHADER LAB</title>
</head>
<body>
    <header>
        <h1>SHADER LAB</h1>
    </header>
    <main>
        <section id="application">
            <div id="interactive_window">
                <div id="navigation_panel"></div>
                <div class="container">
                    <div class="input_container"></div>
                    <div id="editor_container">
                        <div class="editor_scroll_window">
                            <div id="code_editor"></div>
                        </div>
                        <div id="code_editor_panel">
                            <div id="console">Bonjour je suis la console de débug</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="visual_window">
                <div class="input_container light">
                    <abbr class="button light_list" title="Light Presets"></abbr>
                </div>
                <canvas id="webgl_canvas"></canvas>
                <div class="input_container scene">
                    <abbr class="button scene_list" title="Scene Presets"></abbr>
                </div>
            </div>
        </section>
        <section id="about">
            <div class="about_content">
            <h2>About Shader Lab</h2>
            <div class="about_text">
            <p>Shader Lab was created as part of a tutored project supervised by Venceslas Biri during our second year of engineering school IMAC (Image Multimedia Audiovisual Communication). 
                The website allows to experiment different illumination models through raymarching in an educational purpose. The goal of Shader Lab is give the user the opportunity to code its own shader.</p>
            <h3>Our team</h3>
            <p><a target="_blank" href="http://tanguylorent.com/">LORENT Tanguy</a>, <a target="_blank" href="https://www.linkedin.com/in/louise-delrieu-82b4aa226/?originalSubdomain=fr">DELRIEU Louise</a>, <a target="_blank" href="https://www.linkedin.com/in/jordan-roberty-2903a7157/">ROBERTY Jordan</a> & <a target="_blank" href="https://yaelleainhoa.github.io/PORTFOLIO/">SARALEGUI TRAN Yaëlle</a></p>
            <h3>References and Acknowledgments</h3>
            <ul>
                <li><a target="_blank" href="https://threejs-journey.com"> Bruno Simon</a> (and Mattéo Leclercq)</li>
                <li><a target="_blank" href="https://github.com/erichlof/THREE.js-PathTracing-Renderer">Erich Loftis</a></li>
                <li><a target="_blank" href="https://iquilezles.org">Inigo Quilez</a></li>
                <li><a target="_blank" href="https://julesfouchy.github.io/home">Jules Fouchy</a></li>
                <li><a target="_blank" href="https://shdr.bkcore.com/">Shdr Editor</a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/venceslasbiri/?originalSubdomain=fr">Venceslas Biri</a></li>
            </ul>
            </div>
            </div>
        </section>
        <section id="documentation">
            <div class="doc_container">
                <h2 class="doc_main_title">All you need to know to create your shader !</h2>
                <!-- <p>This page Cette page d'aide couvre uniquement les parties de GLSL ES pertinentes pour Shadertoy. Pour la documentation complète, veuillez vous référer à la <a href="https://www.khronos.org/registry/OpenGL/specs/es/3.0/GLSL_ES_Specification_3.00.pdf">spécification GLSL ES</a></p> -->
                <hr>
                <h3 class="doc_title">Scenes</h3>
                <table>
                    <thead>
                        <tr>
                            <th>SCENE 1</th>
                            <th>SCENE 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>box1</td>
                            <td>sphere1</td>
                        </tr>
                        <tr>
                            <td>sphere1</td>
                            <td>sphere2</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>sphere3</td>
                        </tr>
                    </tbody>
                </table>

                <hr class="little-transition">
                <h4>Objects</h4>
                <p>Box</p>
                <ul class="structure">
                    <li>
                        <span class="type">vec3</span>
                        <span class="name">origin</span>
                    </li>
                    <li>
                        <span class="type">vec3</span>
                        <span class="name">dimensions (depth, width, height)</span>
                    </li>
                    <li>
                        <span class="type">Material</span>
                        <span class="name">mat</span>
                    </li>
                </ul>

                <p>Sphere</p>
                <ul class="structure">
                    <li>
                        <span class="type">vec3</span>
                        <span class="name">origin</span>
                    </li>
                    <li>
                        <span class="type">float</span>
                        <span class="name">radius</span>
                    </li>
                    <li>
                        <span class="type">Material</span>
                        <span class="name">mat</span>
                    </li>
                </ul>

                <hr class="little-transition">
                <h4>How to access object attributes ?</h4>
                <p>name_object.attribute = value;</p>
                <pre><b>ex : </b>box1.origin = vec3(1.,1.,5.);</pre>

                <h4 class="commentary">If you change an object position, be careful ! The camera points at the position (0,1,5).. Plus, be aware that the x axis is inverted...</h4>

                <hr class="little-transition">
                <h4>And for materials ?</h4>
                <p>Material</p>
                <ul class="structure">
                    <li>
                        <span class="type">vec3</span>
                        <span class="name">base_color</span>
                    </li>
                    <li>
                        <span class="type">float</span>
                        <span class="name">kd</span>
                    </li>
                    <li>
                        <span class="type">float</span>
                        <span class="name">ks</span>
                    </li>
                    <li>
                        <span class="type">float</span>
                        <span class="name">shininess</span>
                    </li>
                    <li>
                        <span class="type">float</span>
                        <span class="name">subsurface</span>
                    </li>
                    <li>
                        <span class="type">float</span>
                        <span class="name">metallic</span>
                    </li>
                    <li>
                        <span class="type">float</span>
                        <span class="name">specularTint</span>
                    </li>
                    <li>
                        <span class="type">float</span>
                        <span class="name">roughness</span>
                    </li>
                    <li>
                        <span class="type">float</span>
                        <span class="name">anisotropic</span>
                    </li>
                    <li>
                        <span class="type">float</span>
                        <span class="name">sheen</span>
                    </li>
                    <li>
                        <span class="type">float</span>
                        <span class="name">sheenTint</span>
                    </li>
                    <li>
                        <span class="type">float</span>
                        <span class="name">clearcoat</span>
                    </li>
                    <li>
                        <span class="type">float</span>
                        <span class="name">clearcoatGloss</span>
                    </li>
                </ul>

                <pre><b>ex : </b>sphere1.mat.base_color = vec3(1.,0.,0.);</pre>

                <hr>
                <h3 class="doc_title">Lights</h3>

                <table>
                    <thead>
                        <tr>
                            <th>LIGHT PRESET 1</th>
                            <th>LIGHT PRESET 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>light1 (white)</td>
                            <td>light1 (red)</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>light2 (green)</td>
                        </tr>
                    </tbody>
                </table>

                <p>Light</p>
                <ul class="structure">
                    <li>
                        <span class="type">vec3</span>
                        <span class="name">pos (position)</span>
                    </li>
                    <li>
                        <span class="type">vec3</span>
                        <span class="name">col (color)</span>
                    </li>
                    <li>
                        <span class="type">vec3</span>
                        <span class="name">vector (direction)</span>
                    </li>
                </ul>

                <p>If you want to change light parameters, just use inputs ! To have acces to them :</p>
                <pre><b>ex : </b> vec3 light_position = light1.pos;</pre>
                <hr>
                <h3 class="doc_title">How to create an input ?</h3>
                <ul>
                    <li>
                        <p><b>color_picker</b></p>
                    </li>
<pre>/// color_picker scene uName name min max step
<b>ex : </b>///color_picker scene uColor color 
                    <div class="result">uniform float uColor[N_MATERIALS]</div></pre>
                    <li>
                        <p><b>slider</b></p>
                    </li>
                </ul>
<pre>/// slider scene uName name min max step
<b>ex : </b>///slider scene uPosX posX 0 1 0.1
                <div class="result">uniform float uPosX[N_MATERIALS]</div></pre>

                <hr class="little-transition">
                <h4>How to use an input in your code :</h4>
                <pre>
<b>ex : </b> /// color_picker scene uColor color
result : uniform vec3 uColor[N_MATERIALS]
vec3 Model_Illumination(in vec3 ray_position, in vec3 ray_origin,  
    in Material hit_object) {  
    sphere1.mat.base_color = uColor[1];
    return hit_object.base_color;
}</pre>

                <hr class="little-transition">
                <h4>N_MATERIALS explanation</h4>
                <p>N_MATERIALS represents the total number of materials in the scene. In scene 1, you can access to 2 materials and in scene 2 you can access 3 materials.</p>

 <table>
                    <thead>
                        <tr>
                            <th>N_MATERIALS</th>
                            <th>SCENE 1</th>
                            <th>SCENE 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0</td>
                            <td>box1</td>
                            <td>sphere1</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>sphere1</td>
                            <td>sphere2</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>x</td>
                            <td>sphere3</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>x</td>
                            <td>x</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>x</td>
                            <td>x</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>white wall</td>
                            <td>white wall</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>green wall</td>
                            <td>green wall</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>red wall</td>
                            <td>red wall</td>
                        </tr>
                    </tbody>
                </table>

                <p>The input created are linked to this indexes, for example if you want the box1 parameter in a uColor input you created, uColor[0] is what you are looking for!</p>

                <hr>
                <h3 class="doc_title">What is hit_object ?</h3>
                <p>hit_object contains the material of the intersected object (ie : the material of the first object that the ray intersects)</p>

                <hr>
                <h3 class="doc_title">Functions that you can use</h3>
                <p>We implanted various functions that you can use for your shader. </p>
                <ul>
                    <li class="code-list"><span class="code">vec3 GetNormal(vec3 intersection) : </span>returns the normal of a given intersection</li>
                    <li class="code-list"><span class="code">float rand(vec2 input) : </span>returns random value based on the input</li>
                </ul>

                <hr>
                <h3 class="doc_title">Example of a simple code</h3>
                <p>If you want to use flat painting on the first scene preset and move the sphere on y axis, for example, you can try this :</p>
<pre>
/// color_picker scene uColors colors
/// slider scene uSpherePositionY sphere_position_y 0 1 0.1
vec3 Model_Illumination(in vec3 ray_position, in vec3 ray_origin,
    in Material hit_object){ 
    box1.mat.base_color = uColors[0]; 
    sphere1.mat.base_color = uColors[1]; 
    sphere1.origin = vec3(-1,uSpherePositionY[1],5); 
    return hit_object.base_color;
    }
</pre>
            </div>
        
        </section>
    </main>
</body>
</html>