<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>SHADER LAB</title>
</head>
<body>
    <header>
        <h1>SHADER LAB</h1>
    </header>
    <main>
        <div id="interactive_window">
            <div id="navigation_panel"></div>
            <div class="container">
                <div id="input_container"></div>
                <div id="editor_container">
                    <div class="editor_scroll_window">
                        <div id="code_editor"></div>
                    </div>
                    <div id="code_editor_panel">
                        <div id="console">Bonjour je suis la console de débug</div>
                    </div>
                </div>
            </div>
        </div>
        <canvas id="webgl_canvas"></canvas>
    </main>
</body>
</html>