header {
    background: var(--black);
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 0 20px;
}

.header_logo
{
    height: 30%;
}