/*------------- GENERAL -------------*/
* {
    box-sizing: border-box;
}

html,
body
{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}

body
{
    color: #ffffff;
    font-family: 'Roboto';
    background: #242424;
    margin: 0;
}

main
{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    padding: 10vh 0 0 0;
}

section
{
    width: 100%;
    display: flex;
}

h1
{
    margin: 0;
}

ul
{
    padding: 0;
    margin: 0;
}

button
{
    cursor: pointer;
    background-color: rgba($color: #000000, $alpha: 0.0);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 50%;
    color: white;
    font-weight: bold;
    width: 50px;
    height: 50px;
    border: none;
}

button:active
{
    background-color: var(--light-grey);
}

/*---------------- HEADER ----------------*/
header
{
    background: #000000;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    padding: 0 15px;
    z-index: 5;
}

#home_link
{
    height: 25%;
}

#header_logo
{
    fill: #ffffff;
    height: 100%;
}

/*------------------ NAV -----------------*/
nav
{
    height: 100%;
}

#shader_list
{
    height: 100%;
    display: flex;
    align-items: center;
}

.shader_link
{
    cursor: pointer;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.shader_link + .shader_link
{
    margin: 0 0 0 15px
}

.shader_link.current
{
    border-bottom: 2px solid white;
}

/*-------------- NAV BAR -------------*/
#navigation_panel
{
    background: var(--background);
    width: 50px;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.nav_button.active
{
    background-color: var(--light-grey);
}

#shader_inputs_button
{
    background-image: url("./img/inputs.svg");
    background-size: 45%;
}

#code_editor_button
{
    background-image: url("./img/code.svg");
    background-size: 45%;
}

#doc_button
{
    background-image: url("./img/doc.svg");
    
}

/*======== INTERACTIVE SECTION ========*/
#interactive_window
{
    width: 50%;
    display: flex;
    align-items: center;
}

#interactive_window  .container
{
    flex-grow: 1;
   // height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    border:solid;
    border-color: var(--light-grey);
    border-width: 0.5px;
    border-radius: 22px;
    width: 95%;
    height:95%;
}

#interactive_window .container::-webkit-scrollbar
{
    display: none;
}

#interactive_window  .container.code_editor
{
    flex-direction: row;
}

#interactive_window .input_container
{
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding: 2.5%;
}

#interactive_window .input_container::-webkit-scrollbar
{
    display: none;
}

fieldset{
    border:none;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}


fieldset:not(:first-child)
{
    margin-top: 2.5%;
}

fieldset:not(:last-child){
    border-bottom: solid 0.3px;
    margin-bottom:5%;
    padding-bottom: 5%;
}

.one_input_container
{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.one_input_container label{
    text-align: center;
    min-width: 150px;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
}

input[type = range]
{
    flex-grow: 1;
}

#editor_container
{
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.editor_scroll_window
{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.editor_scroll_window::-webkit-scrollbar
{
    display: none;
}

#code_editor
{
    width: 100%;
    min-height: 100% !important;
}

#code_editor_panel
{
    display: flex;
    height: 50px;
}

#console
{
    color: #acff30;
    font-size: 0.975em;
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 0 2.5%;
}

#console.fail
{
    color: #f92672;
}

#compile_button
{
    background-image: url("./img/play.svg");
    background-size: 45%;
}

/*======== VISUAL WINDOW ========*/
#visual_window
{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#visual_window .input_container
{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.25s ease-out;
}

#visual_window .input_container.unwrap
{
    width: 100%;
    transition: 0.25s ease-in;
}

.input_container.light
{
    top: 0;
}

#webgl_canvas
{
    margin: calc(70px + 5%) 0 0 0;
}

.input_container.scene
{
    bottom: 0;
}

.preset_button
{
    background-color: var(--purple);
    white-space: nowrap;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 17.5px;
}

button.displayer
{
    background-color: var(--purple);
    min-width: 50px;
    min-height: 50px;
    margin: 0 0 0 25px;
}

button.light_list
{
    background-image: url("./img/light.svg");
    border-radius: 50%;
}

button.scene_list
{
    background-image: url("./img/box.svg");
    border-radius: 50%;
}

input[type="color"]{
    -webkit-appearance: none;
    border:none;
    margin:2%;
    height: 50px;
    background-color: transparent;
    width: fit-content;
    flex-grow: 0;
    cursor: pointer;
}

input[type="color"]::-moz-color-swatch {
  border-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

input[type=color]::-webkit-color-swatch {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


:root{
    --purple : #782AA5;
    --background: #242424;
    --light-grey: #383838;
    --border-grey: #707070;
    --dark-grey: #1A1A1A;
    --medium-grey:rgb(48, 48, 48);
}

input[type=range] {
    height: 38px;
    -webkit-appearance: none;
    background-color: transparent;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-moz-range-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--purple);
}

input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}

  input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--purple);
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

  .checkbox{
    width: 50%;
}