/*---------- GENERAL ----------*/
table,
td,
th
{
    border-collapse: collapse;
    border: 0.2px solid var(--medium-grey);
    padding:10px;
    text-align: center;
    background-color: var(--dark-grey);
}

table
{
    width: 100%;
    margin:10px 0px;
    border-radius:2px;    
}

a{color: #ffffff;
    text-decoration: none;}
a:hover {color: var(--purple);}


h4{
    font-family: 'Roboto', sans-serif;
    color:var(--border-grey);
    font-size: 13px;
}

/*---------- DOCUMENTATION SECTION ----------*/
#documentation
{
    width: 50vw;
    height: 90%;
    position: absolute;
    right: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    transform: translateX(55vw);
    transition: 0.25s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}

#doc_window{
    overflow-y: scroll;
    background-color: var(--dark-grey);
    border:solid;
    border-color: var(--light-grey);
    scrollbar-width: none;  /* Firefox */
    border-radius: 22px;
    border-width: 1.5px;
    width: 95%;
    height: 95%;
}

#documentation.display
{
    transform: translateX(0);
    transition: 0.25s ease-out;
}

#doc_window::-webkit-scrollbar
{
    display: none;
}

.doc_container
{
    box-sizing: border-box;
    min-height: 100%;
    width: 100%;
    display: flex;
}

#summary{
    width: 25%;
    height: 100%;
    margin:2%;
    font-size: 18px;
}

#summary p{
    margin:5px;
    padding:3px;
    border-radius: 2px;
}

#summary p:hover{
    background-color: var(--background);
    cursor: pointer;
}

.page{
    min-height:100%;
    width: 100%;
    background-color: var(--background);
    width: 100%;
    padding:5%;
    height: fit-content;
    display:none;
}

#doc_text{
    width: 75%;
    // background-color: #242424;
    // min-height:100%;
}

h2.doc_main_title{
    font-size: 2em;
}

h3.doc_title{
    font-size: 1.2em;
}

ul{
    list-style-type: none;
}

ul.structure {
    list-style-type: none;
    margin-left:8%;
    margin-bottom: 2%;
}

.commentary{
    color:var(--purple);
}

pre{
    background-color: var(--light-grey);
    border-radius: 10px;
    padding:5%;
    margin: 5%;
}

.code{
    font-family: monospace;
    font-size: 15px;
}

hr{
    border: none;
    height: 1px;
    background-color: var(--border-grey);
}

.little-transition{
    margin-top:20px;
    border-width: 0.4px;
}

.code-list{
    padding-bottom: 2%;
}

.show_page{
    display:block;
}