main
{
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.background_container
{
    background: url('./img/background.png') no-repeat;
    background-size: cover;
}

section
{
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    padding: 2.5%;
}

section:nth-child(even)
{
    align-items: flex-end;
}

section:nth-child(even) h2,
section:nth-child(even) p
{
    text-align: right;
}

h2 {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

.description
{
    width: 50%;
    font-size: 1.25em;
    line-height: 1.75;
    letter-spacing: 0.05em;
}

/*======== LANDING PAGE SECTION ========*/
#landing_page {
    justify-content: flex-end;
}

#landing_page_logo {
    fill: #ffffff;
    width: 750px;
    padding: 1% 0;
}

